<!DOCTYPE html>
<html>
<head>
    <title>Relatório de Faltas</title>
    <link rel="stylesheet" type="text/css" href="relatorio/relatorio_faltas.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet">

    
    <title>RELATÓRIO DE FALTAS</title>
</head>
<body>
    <header>
        <button href="index.html" class="botaoVoltar tamanhoFonte" id="botãoConfirmar">Voltar</button>
        <h1 class="tamanhoFonte">Relatório de Faltas</h1>
        <select id="turma" class="tamanhoFonte">
            <!-- As opções serão carregadas aqui -->
        </select>

        <input type="text" placeholder="DD/MM/YYYY" onfocus="this.type='date'" onblur="this.type='text'" class="calendario">        
        
        <button class="botaoLetra tamanhoFonte" id="botaoMudarLetra" onclick="jumpButtonL(); mudarFonte()" onclick="">Mudar Fonte</button>

        <section class="aumentarFonte tamanhoFonte">
          <button onclick="mudarTamanhoFonte('aumentar')" class="botaoA tamanhoFonte" id="botaoAMais">A+</button>
          <button onclick="mudarTamanhoFonte('diminuir')" class="botaoA tamanhoFonte" id="botãoAMenos">A-</button>
        </section>
    </header>
    <main>
        <table id="relatorio">
            <thead>
                <tr>
                    <th scope="col" class="tamanhoFonte">Data</th>
                    <th scope="col" class="tamanhoFonte">Aluno</th>
                    <th scope="col" class="tamanhoFonte">Professor</th>
                    <th scope="col" class="tamanhoFonte">Disciplina</th>
                    <th scope="col" class="tamanhoFonte">Turma</th>
                    <th scope="col" class="tamanhoFonte">Qtde de Faltas</th>
                    <th scope="col" class="tamanhoFonte">% de Faltas</th>
                    <th scope="col" class="tamanhoFonte">Deletar</th>
                </tr>
            </thead>
            <tbody>
                <!-- As linhas de faltas serão adicionadas aqui -->
            </tbody>
        </table>
    </main>
    <footer>
        <button id="imprimir_button" class="imprimirB tamanhoFonte" onclick="jumpButtonI()">Imprimir Relatório</button>
        <button id="gerar_notificacao" class="imprimirB tamanhoFonte" onclick="gerarNotificacao()">Gerar Notificações</button>
    </footer>
    <script src="relatorio/relatorio_faltas.js"></script>
</body>
</html>